# Project artifacts
dist/
node_modules/
/node/LICENSE

# BrowserStack Local tunnel logs
browserstack.err
local.log

# Vitest browser-mode artifacts
__screenshots__/
.vitest-attachments/

# Random excess stuff
.DS_Store
.idea/
.vscode/
yarn-error.log
